.assignment-filter-button .afb-name {
  padding-right: var(--12px);
}

.assignment-filter-button,
.assignment-filter-button:hover,
button.assignment-filter-button:focus {
  border: var(--2px) solid #ced4da;
  background-color: var(--bs-white);
  color: var(--bs-black);
}

.assignment-filter-button .fb-icon {
  border-left: 2px solid #ced4da;
  padding-left: var(--12px);
}

button.assignment-filter-button.dropdown-toggle::after {
  content: none;
}
