.filter-button {
  width: 126px;
}

.filter-button,
.filter-button:hover,
button.filter-button:focus {
  border: var(--2px) solid #ced4da;
  background-color: var(--bs-white);
  color: var(--bs-black);
}

.filter-button .fb-icon {
  border-left: 2px solid #ced4da;
  padding-left: var(--12px);
}

button.filter-button.dropdown-toggle::after {
  content: none;
}
.asset_filter .afd-name {
  padding-right: var(--12px);
}

#asset-filter-category button.filter-button ~ .dropdown-menu.show {
  width: 160px;
  overflow-x: hidden;
}
