.backgroundlogin {
    width: 400px;
    height: 450px;
    box-shadow: var(--box-shadow);
    padding: 30px;
    background-color: white;
}
.imglogin {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}