.list-group-item-detail {
  border: none !important;
  border-color: none !important;
  --bs-list-group-border-color: none !important;
  width: 100% !important;
}
.show-assset-list-detail {
  display: flex;
}
.show-assset-list-detail-item {
  margin-right: var(--24px);
  width: 20% !important;
}
.list-group-item-detail-table {
  width: 100% !important;
}
.modal-dialog-centered-asset .modal-dialog-centered {
  max-width: 650px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.custom-asset-detail-text {
  word-break: break-word !important;
}
.modal-content-asset-detail .table-responsive {
  max-height: 250px;
}
.modal-content-asset-detail .table-responsive tbody {
  overflow-y: scroll;
}
.header-asset-detail-table {
  border-bottom: 1px solid rgb(104, 100, 100);
}
